[Unit]
Description=Polaris postinst daemon.

[Service]
ExecStart=/usr/bin/python /usr/share/polaris/polaris-postinst.py
User=root
Group=root
Restart=always

[Install]
Alias=display-manager.service
